// variables
:root {
  --primary: #0565c6;
  --accent: #476481;
  --text: #333;
  --background: #fff;
  --divider: #555757;
  --dark-grey: #7d7d7d;
  --font-family: "Roboto", sans-serif;
  --error: #e74c3c;
  --hint: #95a5a6;
  --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  --border: #969494;
}
